<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Work on your body!!</h2>
                <p class="card-text">No matter your age or athletic ability, strength training is the key to flexibility, mobility, improved performance and lower injury risk. Anyone, at any fitness level, can and should strength train. And it doesn't have to take hours at the gym to see results. We’ll teach you the basics of strength training in the comfort of your own home. It’ll take only nine minutes of exertion to complete a full-body strength-building workout. Grab a towel and get ready to feel strong.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.nytimes.com/guides/well/strength-training-plyometrics">More Info</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Work on your inner spirit!!</h2>
                <p class="card-text">When you commit to inner work, you’re turning your pain into power like a true spiritual alchemist. Naturally, this inner work leads to creating authentic, bone-deep change in the world, little by little.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://lonerwolf.com/inner-work/">More Info</a></div>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">Work on your mind!!</h2>
                <p class="card-text">The mind contains untold resources and possibilities—for creativity, kindness, compassion, insight, and wisdom. It s a storehouse of tremendous energy and drive. And yet it can also be a nattering annoyance, an untamed animal, or a millstone that drags us down. Sometimes we would like to just shut it off so we can get some work done or have a moment’s peace. Yet our mind is the one thing we can’t shut off. So why not make the most of it instead? Why not put it to good use? Through mindfulness, we can train our minds to work better.</p>
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://www.mindful.org/putting-mindfulness-to-work/">More Info</a></div>
        </div>
    </div>

    <div class="card text-white my-5 py-4 text-center">
        <div class="center">
            <video width="320" height="240" controls style="align-content: center">
             <source src="assets/motivation.mp4" type="video/mp4">
              Your browser does not support the video tag
            </video>
        </div>
    </div>

    <div class="card-body" id="youtube">

        <p class="text-white m-0" style="font-size: x-large; text-align: center" >
        <a href="https://www.youtube.com/c/BenLionelScott"><img class="img-fluid rounded mb-4 mb-lb-0" src="assets/youtube.webp" width="120px" height="120px" alt=""></a></p>
        <br><h4>Check Out Our YouTube Channal for Technikal Videos and Tutorial</h4>

    </div>
</div>