<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="assets/grom.png" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Believe in yourself</h1>
            <p>Take up one idea. Make that one idea your life--think of it, dream of it, live on that idea. Let the brain, muscles, nerves, every part of your body, be full of that idea, and just leave every other idea alone. This is the way to success.</p>
            <a class="btn btn-primary" href="#!">Explore Program</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0" style="font-size: xx-large">With a lot of effort and a lot of work, every goal becomes achievable!!!</p></div>
    </div>